extends layout

block content
  h2 Authentication Failed
  p Sorry we could not authenticaticate you using your selected provider, if you continue to have issues please see our 
    a(href='/help/#troubleshooting') troubleshooting guide