!!!
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-status-bar-style', content='black')
    link(rel='apple-touch-icon', href='/favicon.ico')
    
    !=renderStyles()
    title= title
  body
    block content
    !=renderJs()
    script(src='scripts/require/require.js', data-main='app/main')