!!!
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    !=renderStyles()
    title= title
  body
    block content
    !=renderJs()
    script(src='app/durandal/amd/require.js', data-main='app/main')