<section id="add">
    <form data-bind="submit: search" class="form-inline">
        <div class="row">
            <div class="input-group col-lg-6">
                <input type="search" class="form-control" data-bind="value: query, valueUpdate: 'keyup'" placeholder="enter query">
                <span class="input-group-btn">
                    <!-- ko if: !loading() -->
                    <button class="btn btn-primary" data-bind="enable : queryEntered">search</button>
                    <!-- /ko -->
                    <!-- ko if: loading() -->
                    <button class="btn btn-primary" disabled="disabled"><i class="icon-spinner icon-spin"></i> searching</button>
                    <!-- /ko -->
                </span>
            </div>
        </div>
    </form>
        
    <!-- ko if: results().length > 0 -->
    
    <h3>Results for '<!-- ko text: resultQuery --><!-- /ko -->'</h3>
    
    <ul class="media-list" data-bind="foreach: results">
        <li class="media">
            <div class="media-body">
                <h4 class="media-heading" data-bind="html: title"></h4>
                <img height="16px" width="16px" data-bind="attr : { src : 'https://www.google.com/s2/favicons?domain=' + domain }" />
                <em data-bind="text: url"></em>
                <p data-bind="html : contentSnippet"></p>
                <!-- ko if: !subscribing() -->
                <button class="btn btn-primary" data-bind="enable: canSubscribe, click : subscribe">subscribe</button>
                <!-- /ko -->
                
                <!-- ko if: subscribing() -->
                <i class="icon-spinner icon-spin"></i> subscribing
                <!-- /ko -->
            </div>
        </li>
    </ul>
    
    <p>Did not find the result you were looking for? Try to narrow down the search by including more keywords you can also use the following expressions:
    </p>
        
    <!-- /ko -->
    
</section>
