<div>
    <!-- ko navbar : { items: navItems } --><!-- /ko -->
    <div id="admin" class="main">
        <h2>settings</h2>
        
        <div class="setting">
            <h3>subscriptions</h3>
            
            <!-- ko foreach : categories -->
            <div id="category-accordion">
                <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-bind="text : title, attr : { href : '#' + id }"></a>
                </h4>
            </div>
            
            <div data-bind="attr : { id : id }" class="collapse in">
                <!-- ko foreach : subscriptions -->
                <div class="unsubscribe-confirm" data-bind="attr : { id : 'confirm-' + _id }">
                    <p>unsubscribe from <strong data-bind="text: title"></strong>?</p>
                    <button class="btn btn-danger" data-bind="click : confirmUnsubscribe"><i class="fa fa-check"></i> confirm</button>
                </div>
                <!-- /ko -->
                
                <table>
                    <tbody data-bind="foreach : subscriptions">
                        <tr>
                            <td>
                                <button class="btn btn-danger" data-bind="click : unsubscribe"><i class="fa fa-remove"></i> unsubscribe</button>
                            </td>
                            <td data-bind="text: title"></td>
                            <td data-bind="text: xmlurl"></td>
                            <td>
                                <div class="btn-group">
                                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i> <!-- ko text: currentCategory --> <!-- /ko -->
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <!-- ko foreach : $root.categories -->   
                                    <li data-bind="if : title != $parent.currentCategory()"><a href="#" data-bind="text : title, click : $parent.changeCategory.bind($parent)"></a></li>
                                    <!-- /ko -->
                                    <li class="divider"></li>  
                                    <li>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <input type="text" class="input-sm newCategory" data-bind="value : newCategory, valueUpdate : 'keyup'" placeholder="new category" />
                                                <button class="btn btn-primary btn-sm" data-bind="enable : newCategoryValid, click : changeCategory"><i class="fa fa-plus"></i></button>
                                            </span>
                                        </div>
                                    </li>  
                                  </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!-- /ko -->
        </div>
        
        <div  id="caching">
            <h2>caching</h2>
            
            <button class="btn btn-primary" data-bind="click : clearAllCache">clear all</button>
                            
        </div>
        
        <div class="tab-pane" id="forgetme">
            <h2>sign-in</h2>
            
            <div class="alert alert-info">
                <p>Forget my sign-in on this device?</p>
                
                <a href="/signout" class="btn btn-primary">forget me</a>
            </div>
        </div>
        
        <div class="tab-pane" id="export">
            <h2>export</h2>
            
            <div class="alert alert-info">
                <p>I'm taking my subscriptions and I'm outta here!</p>
            
                <a class="btn btn-primary" href="export/" target="_blank">export</a>
            </div>
        </div>
    </div>
</div>