<section id="admin">
    <div class="tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#subscriptions" data-toggle="tab">subscriptions</a>
            <li><a href="#caching" data-toggle="tab">caching</a>
            <li><a href="#forgetme" data-toggle="tab">sign-in</a>
        </ul>
    
        <div class="tab-content">
            <div class="tab-pane active" id="subscriptions">
                <h2>subscriptions</h2>
                
                <table data-bind="foreach: subscriptions" class="table table-condensed">
                    <tbody>
                        <tr>
                            <td>
                                <div class="alert alert-info" data-bind="css : { 'hide' : !confirming() }">
                                    <h3>Confirm un-subscription</h3>
                                    <p>Are you sure you want to unsubscribe from <!-- ko text: title --><!-- /ko -->?</p>
                                    <button class="btn btn-danger" data-bind="click : confirmUnsubscribe">confirm</button>
                                    <button class="btn" data-bind="click : cancelUnsubscribe">cancel</button>
                                </div>
                                <button class="btn btn-warning" data-bind="css : { 'hide' : confirming() }, attr : { 'title' : 'unsubscribe from ' + title }, click : unsubscribe"><i class="icon-remove-sign"></i></button>
                            </td>
                            <th data-bind="text: title"></th>
                            <td data-bind="text: xmlurl" class="hidden-phone"></td>
                        </tr>
                    </tbody>
                </table>                
                                
            </div>
            
            <div class="tab-pane" id="caching">
                <h2>caching</h2>
                
                <button class="btn btn-primary" data-bind="click : clearAllCache">clear all</button>
                                
            </div>
            
            <div class="tab-pane" id="forgetme">
                <h2>sign-in</h2>
                
                <div class="alert alert-info">
                    <p>Forget my sign-in on this device?</p>
                    
                    <a href="/signout" class="btn btn-primary">forget me</a>
                </div>
            </div>
        </div>
    </div>
</section>
