<section id="admin">
    <h2>admin</h2>
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#feeds" data-toggle="tab">feeds</a>
            <li><a href="#caching" data-toggle="tab">caching</a>
            <li><a href="#forgetme" data-toggle="tab">sign-in</a>
            <li><a href="#import" data-toggle="tab">import</a>
        </ul>
    
        <div class="tab-content">
            <div class="tab-pane active" id="feeds">
                <h2>feeds</h2>
                <form class="inline-form">
                    <div class="input-append">
                        <input type="text" class="input-xxlarge" placeholder="feed url" data-bind="value : feedUrl" />
                        <button class="btn btn-primary" data-bind="click : addFeed">add</button>
                    </div>
                </form>
            </div>
            
            <div class="tab-pane" id="caching">
                <h2>caching</h2>
                
                <form>
                    <div class="control-group">
                        <label class="control-label" for="articleDetails">article details</label>
                        <input type="text" class="input-small" name="articleDetails" data-bind="value : articleDetailsCache" placeholder="days to cache for">
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-primary" data-bind="click : saveCache">save</button>
                        </div>
                    </div>
                </form>
                
            </div>
            
            <div class="tab-pane" id="forgetme">
                <h2>sign-in</h2>
                
                <div class="alert alert-info">
                    <p>Forget my sign-in on this device?</p>
                    
                    <a href="/signout" class="btn">forget me</a>
                </div>
            </div>
            
            <div class="tab-pane" id="import">
                <h2>import</h2>
                <form class="inline-form">
                    <div class="input-append">
                        <input type="text" class="input-xxlarge" placeholder="opml file" />
                        <button class="btn btn-primary">upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
