<section id="all">
    <div class="row">
        <div id="subscriptions-container" class="col-md-3 hidden-sm hidden-xs" data-bind="compose: { model: 'viewmodels/subscriptions', activate: true }" >
        </div>
        
        <div id="articles-container" class="col-md-9">
            <div class="text-center" data-bind="if: loading">
                <img src="content/images/loading.gif" alt="loading articles..." />
                <p>loading articles...</p>
            </div>
            
            <!-- ko if: !loading() && articles().length <= 0 -->
            <div class="alert alert-info alert-block">
                <span>No articles could be located</span>
            </div>
            <!-- /ko -->

            <div class="list-group" data-bind="foreach: articles">
                <a class="list-group-item" data-bind="attr: { href : '#/article/' + _id }">
                    <h4 class="list-group-item-heading" data-bind="text : title"></h4>
                    <p class="list-group-item-text" data-bind="text: published"></p>
                </a>
            </div>
        </div>
    </div>
</section>
