<div>
    <header>
        <div class="nav-bar">
            <a href="/#/" id="home-icon">
                <img height="30" width="43" src="/content/images/mobile-logo-reverse.png" alt="pushfeed" />
            </a>
            <div>
                <!-- ko if: !loading() -->
                <a href="#" data-bind="if : prevArticle != null, click: prev">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a href="#" data-bind="click: article.starToggle">
                    <i class="fa" data-bind="css : { 'fa-star' : article.starred(), 'fa-star-o' : !article.starred() }"></i>
                </a>
                <a href="#" data-bind="if : nextArticle != null, click: next">
                    <i class="fa fa-chevron-right"></i>
                </a>
                <!-- /ko -->
                <a href="/#/add">
                <i class="fa fa-plus"></i>
                </a>
                <a href="/#/admin">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
        </div>
    </header>
    
    <div class="corner-loading" data-bind="css : { 'animate' : loading }" title="loading...">
    </div>
    
    <div class="main">
        <section class="article-content">
            <!-- ko if: !loading() -->
            <div data-bind="with : article">
                <h3>
                    <a data-bind="attr: { href : 'javascript:externalLink(\'' + link + '\');' }">
                        <!-- ko text : title --><!-- /ko --> <i class="fa fa-external-link"></i>
                    </a>
                </h3>
                <div class="date">
                    <i class="fa fa-clock-o"></i> <!-- ko text : publishedFormatted --><!-- /ko -->
                </div>
                <div class="sharing">
                    <a class="facebook" target="_blank" data-bind="attr: { href : facebookShareLink }">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="twitter" target="_blank" data-bind="attr : { href : twitterShareLink }">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
                <article class="col-md-10" data-bind="html : content">
                </article>
            </div>
            <!-- /ko -->
        </section>
    </div>
    
    <div class="external">
        <header>
            <div class="nav-bar">    
                <a href="#" data-bind="click : closeExternal">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </header>
        <iframe src="" />
    </div>
            
</div>