<section id="article">
    <div class="text-center" data-bind="if: loading">
        <img src="content/images/loading.gif" alt="loading article..." />
        <p>loading article...</p>
    </div>
    
    <article>
        <a data-bind="if : prevArticle != null, click: prev" style="text-decoration: none"><i class="icon-circle-arrow-left icon-4x"></i></a>
        <a href="#" data-bind="click: article.starToggle" style="text-decoration: none"><i data-bind="css : { 'icon-star' : article.starred(), 'icon-star-empty' : !article.starred() }" class="icon-4x"></i></a>
        <h2 data-bind="text : article.title"></h2>
        <a data-bind="if : nextArticle != null, click : next" style="text-decoration: none"><i class="icon-circle-arrow-right icon-4x"></i></a>
        
        <div>
            <i class="icon-double-angle-right"></i>
            <em><span data-bind="text: article.author"></span> - 
            <span data-bind="text: article.published"></span></em>
        </div>
        
        <section data-bind="html : article.content">
        </section>
    </article>
</section>