<h2 data-bind="text: filter() + ' items'"></h2>
<div class="accordion" id="articles" data-bind="foreach: articles">
    <div class="accordion-group">
    <div class="accordion-heading">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#articles" href="#collapse1" data-bind="click: headerClicked" ><i data-bind="css : { 'icon-chevron-down' : collapsed(), 'icon-chevron-up' : !collapsed() }" ></i> </a>
    </div>
    <div id="collapse1" class="accordion-body collapse in">
      <div class="accordion-inner" data-bind="html: content">
        
      </div>
    </div>
</div>