<section id="article">
    <div class="text-center" data-bind="if: loading">
        <img src="content/images/loading.gif" alt="loading article..." />
        <p>loading article...</p>
    </div>
    
    <article>
        <div class="page-header">
            <h4>
                <a data-bind="if : prevArticle != null, click: prev" style="text-decoration: none"><i class="icon-circle-arrow-left icon-2x"></i></a>
                <a href="#" data-bind="click: article.starToggle" style="text-decoration: none"><i data-bind="css : { 'icon-star' : article.starred(), 'icon-star-empty' : !article.starred() }" class="icon-2x"></i></a>
                <!-- ko text : article.title --> <!-- /ko -->
                <a data-bind="if : nextArticle != null, click : next" style="text-decoration: none"><i class="icon-circle-arrow-right icon-2x"></i></a>
            </h4>
        </div>
        
        <div>
            <i class="icon-double-angle-right"></i>
            <em><span data-bind="text: article.author"></span> - 
            <span data-bind="text: article.published"></span></em>
        </div>
        
        <section data-bind="html : article.content">
        </section>
    </article>
</section>