<!-- smartphone -->
<div class="page-header hidden-phone">
    <h1>articles
        <button data-bind="click: refresh" title="refresh" class="btn btn-primary pull-right"><i class="icon-repeat icon-2x"> </i> </button>
    </h1>
</div>

<div class="visible-phone">
    <h3>articles
        <button data-bind="click: refresh" title="refresh" class="btn btn-primary pull-right"><i class="icon-repeat icon-2x"> </i> </button>
    </h3>
</div>

<div class="text-center" data-bind="if: loading">
    <img src="content/images/loading.gif" alt="loading articles..." />
    <p>loading articles...</p>
</div>

<div class="article hidden-phone" data-bind="foreach: articles">
    <div class="article-header well well-small">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-bind="attr: { 'data-target' : '#article' + $index() }, click: headerClicked"><i data-bind="css: { 'icon-chevron-up' : !collapsed(), 'icon-chevron-down' : collapsed() }"></i></button>
        <span class="title" data-bind="text: title, css: { muted: read }"></span>
        <a data-bind="attr: { href : link }, click : externalLinkClicked" target="_blank" type="button" class="btn btn-primary pull-right"><i class="icon-external-link"></i></a>            
        <button type="button" data-bind="click: starToggle" class="btn btn-primary pull-right"><i data-bind="css : { 'icon-star-empty' : !starred(), 'icon-star' : starred() }" ></i></button>            
    </div>
           
    <div data-bind="attr: { id : 'article' + $index() }, css : { in : !collapsed }" class="collapse">
        <div class="article-sub-header">
            <i class="icon-double-angle-right"></i>
            <em><span data-bind="text: author"></span> - 
            <span data-bind="date: published"></span></em>
        </div>
        <div data-bind="html: content">
        
        </div>
    </div>
</div>

<!-- smartphone -->
<div class="article visible-phone" data-bind="foreach: articles">
    <div class="well well-small">
        <div data-bind="text: title, css: { muted: read }"></div>
        <div class="article-sub-header">
            <i class="icon-double-angle-right"></i>
            <em><span data-bind="text: author"></span> - 
            <span data-bind="date: published"></span></em>
        </div>
        <div>
            <a data-bind="click : externalLinkClicked" target="_blank" type="button" class="btn btn-primary"><i class="icon-external-link icon-2x"></i></a>
            <a type="button" data-bind="click: starToggle" class="btn btn-primary"><i class="icon-2x" data-bind="css : { 'icon-star-empty' : !starred(), 'icon-star' : starred() }"></i> </a>            
        </div>
    <div>
</div>