<div class="filter">
    <div class="summary">
        <h3><i class="fa fa-inbox"></i> 
            <a href="#">all</a> 
            <small data-bind="text : allUnread" ></small>
        </h3>
        <h3><i class="fa fa-star"></i> 
            <a href="#">starred</a> 
            <small data-bind="text : starredUnread" ></small>
        </h3>
    </div>
    <div class="categories" data-bind="foreach : categories">
        <h3>
            <a class="accordion-toggle" data-toggle="collapse" data-bind="click : toggleCollapse, attr: { href: '#' + id }">
                <i class="fa" data-bind="css : { 'fa-angle-right' : collapsed(), 'fa-angle-down' : !collapsed() }"></i>
            </a>
            <a href="#">
                <span data-bind="text : title"></span>
            </a>
            <small data-bind="text : unread" ></small>
        </h3>
        <div data-bind="attr : { id : id }" class="panel-collapse collapse">
           <ul class="nav nav-stacked nav-pills" data-bind="foreach: subscriptions">
                <li>
                    <a href="#" data-bind="click: $root.makeActive"><!-- ko text: title --> <!-- /ko --> 
                        <small data-bind="text : unread" ></small>
                    </a>    
                </li>
            </ul>
        </div>
    </div>
</div>