<div class="navbar">
	<!-- desktop/tablet -->
	<div class="navbar-inner hidden-phone navbar-fixed-top">
		<a class="brand" data-bind="attr: { href: router.navigationModel()[0].hash }">
			<i class="icon-rss"></i>
		</a>
		<ul class="nav">
			<li>
				<a href="#/unread"><i class="icon-flag-alt"></i> Unread <span class="badge badge-info" data-bind="text: unread"></span></a>
			</li>
            <li>
				<a href="#/starred"><i class="icon-star"></i> Starred</a>
			</li>
			<li>
				<a href="#/read"><i class="icon-flag"></i> Read</a>
			</li>
		</ul>
		<ul class="nav pull-right">
			<li data-bind="css: { active: router.navigationModel()[1].isActive }">
				<a data-bind="attr: { href: router.navigationModel()[1].hash }"><i class="icon-cogs"></i></a>
			</li>
		</ul>
        <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
			<i class="icon-spinner icon-spin"></i>
		</div>
	</div>
	<!-- smartphone -->
	<div class="navbar-inner visible-phone navbar-fixed-top">
		<ul class="nav">
			<li>
				<a href="#/unread"><i class="icon-flag-alt icon-2x"></i><span class="badge badge-info" data-bind="text: unread"></span></a>
			</li>
            <li>
				<a href="#/starred"><i class="icon-star icon-2x"></i></a>
			</li>
			<li>
				<a href="#/read"><i class="icon-flag icon-2x"></i></a>
			</li>
		</ul>
	</div>
</div>

<!-- sign-in dialog -->
<div class="modal-backdrop hide"></div>
<div id="signin" class="modal hide" data-backdrop="true" role="dialog">
    <div class="modal-header">
        <h3>Sign-in</h3>
    </div>
    <div class="modal-body">
        <p>Please select from the below OpenID providers:</p>
        
        <a href="/auth/google">
            <img src="content/images/signin-google.png" alt="sign-in with Google" />
        </a>
    </div>
    <div class="modal-footer">
        <p>Having issues signing in? <a href="#">visit help</a>.
    </div>
</div>

<!-- standard composing -->
<div data-bind="router: { transition:'entrance' }"></div>