<section id="signin" class="messageBox">
    <div class="modal-header">
        <h3>Sign-in</h3>
    </div>
    <div class="modal-body hidden-phone">
        <p>Please select from the below OpenID providers:</p>
        
        <a href="/auth/google" class="btn btn-primary btn-large" title="sign in with google">
            <i class="icon-google-plus icon-2x"></i>
        </a>
        
        <a href="/auth/twitter" class="btn btn-primary btn-large"  title="sign in with twitter">
            <i class="icon-twitter icon-2x"></i>
        </a>
        
        <a href="/auth/facebook" class="btn btn-primary btn-large" title="sign in with facebook">
            <i class="icon-facebook icon-2x"></i>
        </a>
        
        <a href="/auth/yahoo" class="btn btn-primary btn-large" style="padding-top: 28px;padding-bottom: 27px"  title="sign in with yahoo">
            <strong style="font-size: xx-large;font-family: serif">Y!</strong>
        </a>        
    </div>
    
    <div class="modal-body visible-phone">
        <p>Please select from the below OpenID providers:</p>
        
        <a href="/auth/google" class="btn btn-primary" title="sign in with google">
            <i class="icon-google-plus"></i>
        </a>
        
        <a href="/auth/twitter" class="btn btn-primary"  title="sign in with twitter">
            <i class="icon-twitter"></i>
        </a>
        
        <a href="/auth/facebook" class="btn btn-primary" title="sign in with facebook">
            <i class="icon-facebook"></i>
        </a>
        
        <a href="/auth/yahoo" class="btn btn-primary" title="sign in with yahoo">
            <strong style="font-size: large;font-family: serif">Y!</strong>
        </a>        
    </div>
    
    <div class="modal-footer">
        <p>Having issues signing in? <a href="#">visit help</a>. Or want more information about the <a href="#">sign-in process</a>
    </div>
</section>