<section id="signin">
    <img src="content/images/full-logo.png" />
    
    <h2>sign in with</h2>
    
    <div class="signin-row">
        <a href="/auth/facebook" title="sign in with facebook"><img src="content/images/signin-facebook.png" /></a>
        <a href="/auth/twitter" title="sign in with twitter"><img src="content/images/signin-twitter.png" /></a>
    </div>
    <div class="signin-row">
        <a href="/auth/google" title="sign in with google"><img src="content/images/signin-google.png" /></a>
        <a href="/auth/yahoo" title="sign in with yahoo"><img src="content/images/signin-yahoo.png" /></a>        
    </div>
    
    <p>Having issues signing in? <a href="#">visit help</a>. Or want more information about the <a href="#">sign-in process</a>
    
</section>