<section id="signin">
    <h2>Sign-in</h2>
    
    <div>
        <p>Please select from the below OpenID providers:</p>
        
        <a href="/auth/google" class="btn btn-primary btn-large" title="sign in with google">
            <i class="icon-google-plus icon-2x"></i>
        </a>
        
        <a href="/auth/twitter" class="btn btn-primary btn-large"  title="sign in with twitter">
            <i class="icon-twitter icon-2x"></i>
        </a>
        
        <a href="/auth/facebook" class="btn btn-primary btn-large" title="sign in with facebook">
            <i class="icon-facebook icon-2x"></i>
        </a>
        
        <a href="/auth/yahoo" class="btn btn-primary btn-large" title="sign in with yahoo">
            <strong style="font-size: 1.5em;font-family: serif">Y!</strong>
        </a>        
    </div>
    
    <p>Having issues signing in? <a href="#">visit help</a>. Or want more information about the <a href="#">sign-in process</a>
    
</section>