<section id="dashboard">
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="subscriptions-container" class="span3 hidden-phone" data-bind="compose: { model: 'viewmodels/subscriptions', activate: true }" >
            </div>
            
            <div id="articles-container" class="span9">
                <div class="text-center" data-bind="if: loading">
                    <img src="content/images/loading.gif" alt="loading articles..." />
                    <p>loading articles...</p>
                </div>
                
                <!-- ko if: !loading() && articlesToShow().length <= 0 -->
                <div class="alert alert-info alert-block">
                    <i class="icon-frown"></i><span>No <strong data-bind="text: filter"></strong> articles could be located</span>
                </div>
                <!-- /ko -->

                <div class="article hidden-phone" data-bind="foreach: articlesToShow">
                    <div class="article-header well well-small">
                        <strong><span class="title" data-bind="text: title"></span></strong>
                        <span data-bind="text: published"></span>
                        <a data-bind="attr: { href : '#/article/' + _id }" type="button" class="btn btn-primary pull-right"><i class="icon-circle-arrow-right"></i></a>
                    </div>
                </div>

                <!-- smartphone -->
               <div class="article visible-phone" data-bind="foreach: articlesToShow">
                    <div class="well well-large">
                        <strong><span class="title" data-bind="text: title"></span></strong>
                        <span data-bind="text: published"></span>
                        <a data-bind="attr: { href : '#/article/' + _id }" type="button" class="btn btn-primary pull-right"><i class="icon-2x icon-circle-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
