<section id="subscriptions">
    <div id="accordion" data-bind="foreach: categories">
        <h3 class="panel-title">
            <span class="caret"></span> <a class="accordion-toggle" data-toggle="collapse" data-bind="attr: { href: '#' + title }, text : title"></a>
        </h3>
        <div data-bind="attr : { id : title }" class="panel-collapse collapse in">
           <ul class="nav nav-stacked nav-pills" data-bind="foreach: subscriptions">
                <li data-bind="css : { active : active }">
                    <a href="#" data-bind="click: $root.makeActive"><!-- ko text: title --> <!-- /ko --> 
                        <span class="badge pull-right" data-bind="text : unread" ></span>
                    </a>    
                </li>
            </ul>
        </div>
    </div>
</section>