<section id="summary">
    
    <div class="row">
        <div class="col-md-3 summary-unread">
            <ul class="list-group" data-bind="foreach: unreadCounts">
                <li>
                    <div class="page-title">
                        <h4><!-- ko text: title --><!-- /ko--> <small data-bind="text: count"></small></h4>
                        <ul class="list-group" data-bind="foreach : subscriptions">
                            <li>
                                <div class="page-title">
                                    <h5><!-- ko text: title --><!-- /ko--> <small data-bind="text: count"></small></h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        
        <h2 class="hidden-sm">most recent</h2>
        <div class="col-md-9 summary-tiles hidden-sm">
            <!-- ko foreach: mostRecent -->
            <div class="tile">
                <a data-bind="attr: { href : '#/article/' + _id }, text : title"></a>
            </div>
            <!-- /ko -->
            <div class="tile">
                <a href="#/all/" data-bind="text : allCount"></a>
            </div>
            <div class="tile">
                <a href="#/starred/" data-bind="text : starredCount"></a>
            </div>
        </div>
    </div>    
    
</section>