<div id="summary">
    <div class="row">
        <div class="col-md-3 col-sm-8">
            <ul class="summary-list" data-bind="foreach: unreadCounts">
                <li>
                    <h3>
                        <a href="#"><!-- ko text: title --><!-- /ko--></a> 
                        <small data-bind="text: count"></small>
                    </h3>
                                
                    <ul data-bind="foreach : subscriptions">
                        <li>
                            <h4>
                                <a href="#"><!-- ko text: title --><!-- /ko--></a> 
                                <small data-bind="text: count"></small>
                            </h4>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <h2 class="hidden-sm">most recent</h2>
        <div class="col-md-8 summary-tiles hidden-sm hidden-xs">
            <!-- ko foreach: mostRecent -->
            <div class="tile">
                <a data-bind="attr: { href : '#/article/' + _id }, text : title"></a>
            </div>
            <!-- /ko -->
            <div class="tile">
                <a href="#/all/" data-bind="text : allCount"></a>
            </div>
            <div class="tile">
                <a href="#/starred/" data-bind="text : starredCount"></a>
            </div>
        </div>
    </div>    
</div>
