<section id="summary">
    <h2>summary</h2>
    
    <div class="row-fluid">
        <div class="span4 summary-unread">
            <ul class="unstyled" data-bind="foreach: unreadCounts">
                <li>
                    <div class="page-title">
                        <h4><!-- ko text: title --><!-- /ko--> <small data-bind="text: count"></small></h4>
                    </div>
                </li>
            </ul>
        </div>
        
        <h2>most recent</h2>
        <div class="span8 summary-tiles">
            <!-- ko foreach: mostRecent -->
            <div>
                <a data-bind="attr: { href : '#/article/' + _id }, text : title"></a>
            </div>
            <!-- /ko -->
            <div>
                <a href="#/all/" data-bind="text : allCount"></a>
            </div>
            <div>
                <a href="#/starred/" data-bind="text : starredCount"></a>
            </div>
        </div>
    </div>    
    
</section>