<div>
    <div class="welcome">        
        <div class="col">
            <a href="#/admin/">
                <i class="fa fa-upload"></i>
            </a>
            <h2>upload</h2>
            
            <p>come from another feed provider? No problem you can upload all your existing feed subscriptions</p>
        </div>
        
        <div class="col">
            <a href="#/add/">
                <i class="fa fa-plus"></i>
            </a>
            <h2>add</h2>
            
            <p>start using the built-in search to begin adding feed subscriptions</p>
        </div>
    </div>
</div>