#subscriptions-container {
    border-right: 1px solid #CCC;
    font-size: smaller;
}

#subscriptions ul li {
    margin: 0.5em 0;
}

#subscriptions .subscription-item  {
    margin-left: 0.7em;
}

#subscriptions a {
    text-decoration: none;
    color: #000;
}

#subscriptions .feed:hover {
    background: #eee;
}

.article .well {
    margin-bottom: 5px;
}

.article  .title{
    font-size: larger;
    vertical-align: middle;
    font-weight: bold;
}

.article .article-sub-header {
    font-weight: larger;
    margin: 1em 0;
    text-indent: 0.5em;
}
