body {
    padding-top: 40px;
}

#subscriptions-container {
    border-right: 1px solid #CCC;
    font-size: smaller;
}

#subscriptions ul li {
    margin: 0;
    padding: 0;
}

.article .well {
    margin-bottom: 5px;
}

.article  .title{
    font-size: larger;
    vertical-align: middle;
    font-weight: bold;
}

.article .article-sub-header {
    font-weight: larger;
    margin: 1em 0;
    text-indent: 0.5em;
}
