body {
	background:#eeeeee;
	font-family: Ubuntu, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
    text-transform: lowercase;
}

a:link {
    -webkit-tap-highlight-color: rgba(229,59,44,0.4);
}

a {
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
}

header  {
	background:#e74c3c;
	/*
    -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.2);
	-ms-box-shadow: 0 1px 3px rgba(34,25,25,0.2);
	box-shadow: 0 1px 3px rgba(34,25,25,0.2);
	border-bottom: 1px solid #bfbfbf;
    */
    position: fixed;
	height: 49px;
	z-index: 50;
    width: 100%;
}
.current-filter {
    background: #555;   
    padding: 1em;
    color: #fff;
    margin-bottom: 1em;
    -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.2);
	-ms-box-shadow: 0 1px 3px rgba(34,25,25,0.2);
	box-shadow: 0 1px 3px rgba(34,25,25,0.2);
	border-bottom: 1px solid #bfbfbf;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main {
    padding-top: 49px;   
}

.nav-bar > div {
	float: right;
	text-align: right;
}
.nav-bar a {
	display: inline-block;
	margin-left:10px;
	color: #FFF;
	text-decoration: none;
	padding: 10px 5px 7px;
	text-align: center;
}
.nav-bar a:first-child {
	margin: 0;
}
.nav-bar a i {
	font-size: 32px;
}

/* Navicon */
@charset "CP850";
/* Change this to watch in slo-mo */
.navicon-button {
  display: inline-block;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
  opacity: .8; }
  .navicon-button .navicon:before, .navicon-button .navicon:after {
    transition: 0.25s; }
  .navicon-button:hover {
    transition: 0.5s;
    opacity: 1; }
    .navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
      transition: 0.25s; }
    .navicon-button:hover .navicon:after {
      top: -.825rem; }
    .navicon-button:hover .navicon:before {
      top: .825rem; }

.navicon {
  position: relative;
  width: 2.2em;
  height: .3125rem;
  background: #e7e6dd;
  transition: 0.5s;
  border-radius: 2.5rem; }
  .navicon:after, .navicon:before {
    display: block;
    content: "";
    height: .3125rem;
    width: 2.2rem;
    background: #e7e6dd;
    position: absolute;
    z-index: -1;
    transition: 0.5s 0.25s;
    border-radius: 1rem; }
  .navicon:after {
    top: -.625rem; }
  .navicon:before {
    top: .625rem; }

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important; }

.open .navicon:before,
.open .navicon:after {
  transition: 0.5s; }

/* × */
.open.x .navicon {
  background: transparent; }
  .open.x .navicon:after {
    -webkit-transform: rotate(45deg); }
  .open.x .navicon:before {
    -webkit-transform: rotate(-45deg); }

.loading .navicon {
  color: dodgerblue;
  box-shadow: inset 0 0;
  transition: 0.5s, box-shadow 0; }

.loading .navicon {
  transition: 0; }

.open.loading {
  transform: none; }
  .open.loading .navicon {
    box-shadow: inset 2.5rem 0;
    transition: 0.5s, box-shadow 2.5s; }
    .open.loading .navicon:before, .open.loading .navicon:after {
      opacity: 0; }

h2 {
	font-size:1.8em;
	font-weight: 500;
}

#main {
    clear: both;
    padding: 0;
    margin: 0;
}

/* Filtering */

#filter-container {
    display: none;
}

#filter.open {
	display: block;
}

@media (min-width: 768px) {
    #filter-container {
        display: block;
        float: left;
        width: 30%;
        position: fixed;
    }
}

#filter a {
    color: #959595;
    text-decoration: none;
    font-size: 2em;
    font-weight: normal;
}

#filter h3 small {
    font-size: 2em;
}
#filter small {
    color: #121212;
    float: right;
}
#filter ul li a {
    font-size: 1em;
    padding: 0.25em;
}
#filter h3, #filter ul li {
    margin-bottom: 0.5em;
    padding: 0.25em 0;
}
#filter ul {
    margin-bottom: 1em;   
}
#filter .accordion-toggle {
    margin-right: 0.5em;
    -webkit-transition: color 0.5s ease-in;    
    -o-transition: color 0.5s ease-in;
    -moz-transition: color 0.5s ease-in;
}
#filter .accordion-toggle:hover {
    color: #121212;
    transition: color 0.5s ease-in;    
    -webkit-transition: color 0.5s ease-in;    
    -o-transition: color 0.5s ease-in;
    -moz-transition: color 0.5s ease-in;
}
#filter h3:nth-of-type(odd) a {
    color: #277E8E;
}
#filter h3:nth-of-type(even) a {
    color: #959595;
}
#filter a:hover {
    background: #fff;    
}

/* Articles */

.article {
    border-bottom: 1px solid #bfbfbf;
    vertical-align: middle;
    color: #121212;
    display: block;
    position: relative;
    height: 80px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.article:hover {
    background: #ddd;
}
.article .details {
    cursor: pointer;
    padding: 0.5em;
    height: 80px;
    max-height: 80px;
}
.article .details.hide {
    display: none;
}
.article .actions.show {
    display: block;
}
.article .actions {
    color: #fff;
    background: #aaa;
    display: none;
    overflow: hidden;
    height: 80px;
    vertical-align: middle;
    line-height: 80px;    
}
.article .actions div, .article .actions a {
    float: left;
    margin: 0;
    width: 25%;
    text-align: center;
    display: block;
    color: #fff;
}
@media (min-width: 768px) {
    #articles-container {
        margin-left: 32%;
        float: left;
        position: relative;
        width: 68%;
    }
}

/* Article */
section {
	margin-bottom: 2em;
	padding: 0 5.5% 4em;
}
section h3 {
	font-weight: 700;
	font-style: normal;
	font-size: 2em;
	line-height: 1.1em;
	padding: .5em .5em .5em 0;
	border-bottom: .07em solid #e5e5e5;
	margin-bottom:.5em;
}
section h3 a {
    text-decoration: none;
    color: #000;    
}

section p {
	font-size: 1.25em;
	line-height: 1.35em;
	margin: 0;
	padding: .5em 0;
	font-weight: 400;
	font-style: normal;
}
#article .date {
	font-size: 1.1em;
	color: rgba(0,0,0,0.5);
	font-weight: 400;
	font-style: normal;
	padding: 0 1em 0 0;
}
#article .date i {
	padding: 1em 1em 0 0;
}

.media-list li {
	margin-bottom: 2em;
}


/* Buttons */
.btn {
	background: #eee;
	border: 0;
	color: #444;
	padding: 5px 9px;
}
.btn.btn-primary {
	background: #368ee0;
	color: #fff;
}
.btn i {
	font-size: 14px;
}
.btn.btn-primary:focus {
	background: #1e74c5;
}

/* Input */
.input-group {
	min-height: 30px;
	margin-bottom:10px;
}
input[type="text"], 
input[type="search"] {
	background: #f9f9f9;

	border: 1px solid #ccc;
	
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;

	display: inline-block;
	margin-bottom: 0;
	height: 27px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	width:200px;
}

input[type="text"]:focus,
input[type="search"]:focus {
	border-color: rgba(82,168,236,0.8);
	outline: 0;
	outline: thin dotted \9;
}

/* Signin */

#signin {
    text-align: center;
}
#signin h2 {
    margin: 1em 0;   
}
#signin .signin-row {
    white-space: nowrap;
}
#signin .signin-row img {
    margin: 3px;
}
@media (max-width: 480px) {
    #signin .signin-row img {
        width: 50%;
    }
}

/* Article */

#external {
    position: absolute;
    top: 0;
    left 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 100%;
    height:100%;
    z-index: 99999;
    background: #eee;
}

#external a {
    text-decoration: none;
    float: right;
}

#external iframe {
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

/* Corner Loading Indicator */

.corner-loading {
	position: fixed;
	top: 50px;
	right: 0;
	width: 300px;
	height: 300px;
	background: #368ee0;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
	transform: translateX(100%) translateY(-100%) rotate(45deg);
	pointer-events: none;
    z-index: 10;
}

.corner-loading.animate {
	-webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
	transform: translateX(50%) translateY(-50%) rotate(45deg);
}

/* Loading circle idea from http://codepen.io/Metty/details/lgJck */
.corner-loading::before,
.corner-loading::after {
	position: absolute;
	bottom: 30px;
	left: 50%;
	display: block;
	border: 5px solid #fff;
	border-radius: 50%;
	content: '';
}

.corner-loading::before {
	margin-left: -40px;
	width: 80px;
	height: 80px;
	border-right-color: #125392;
	border-left-color: #125392;
	-webkit-animation: rotation 3s linear infinite;
	animation: rotation 3s linear infinite;
}

.corner-loading::after {
	bottom: 50px;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	border-top-color: #125392;
	border-bottom-color: #125392;
	-webkit-animation: rotation 1s linear infinite;
	animation: rotation 1s linear infinite;
}


@-webkit-keyframes rotation {
	0% 		{ -webkit-transform: rotate(0deg); }
	50% 	{ -webkit-transform: rotate(180deg); }
	100% 	{ -webkit-transform: rotate(360deg); }
}

@keyframes rotation {
	0% 		{ transform: rotate(0deg); }
	50% 	{ transform: rotate(180deg); }
	100% 	{ transform: rotate(360deg); }
}

